.board{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    border-style: outset;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);

}

.cell-board{
    margin:-2px 0;
    padding:0;
}

.board img {
    object-fit: cover;
    width: 100%;
  }

.winner-board{
    border: 5px solid black;
}